In [1]:
a = "Jayant"

In [2]:
type(a)

str

In [3]:
b = [2,3,4,5,"Jayant","praveen", True, 4+7j, 35.44]

In [4]:
type(b)

list

In [5]:
c  = 77.98

In [6]:
type(c)

float

In [7]:
d = ("Jayant","praveeen","ayush")

In [8]:
type(d)

tuple

In [9]:
var1 = " "

In [10]:
type(var1)

str

In [11]:
var2 = "[ DS , ML , Python]"

In [12]:
type(var2)

str

In [13]:
var3 = [ "DS" , "ML" , "Python" ]

In [14]:
type(var3)

list

In [15]:
var4 = 1

In [16]:
type(var4)

int

In [ ]:
/ = It is an arithmatic operation. it also known as division operator. It uses to get quotation of division problem.

In [23]:
e = 23/7

In [24]:
e

3.2857142857142856

In [ ]:
% = It is an arithmatic operator. It is also known as modolus operator. It uses to get the remainder of the division problem.

In [21]:
f = 56 % 6

In [22]:
f

2

In [ ]:
// = It is an arithmatic operator. It is also known as floor division operation. if we need to return the smallest interger less than or equal to the input.

In [19]:
g = 45 // 7

In [20]:
g

6

In [ ]:
** = It is an arithmatic operator. It is also known as exponentiation. The exponent tells the number of times the base is to be multiplied by itself.

In [25]:
h = 9 ** 9

In [26]:
h

387420489

In [27]:
j = [2,3,4,5,"Jayant","praveen", True, False, 89.66, 9+1j]

In [28]:
j

[2, 3, 4, 5, 'Jayant', 'praveen', True, False, 89.66, (9+1j)]

In [29]:
for i in j:
    print(type(i))
    print(i)

<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'str'>
Jayant
<class 'str'>
praveen
<class 'bool'>
True
<class 'bool'>
False
<class 'float'>
89.66
<class 'complex'>
(9+1j)

In [2]:
A = 24  
B = 3  

count = 0  

while A % B == 0:
    A = A // B  
    count += 1  

if count > 0:
    print(f"{A} can be divided by {B} exactly {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

8 can be divided by 3 exactly 1 times.

In [7]:
p = [1,2,45,6,8,56,87,99,9,3,4,86,98,66,55,11,12,13,14,21,22,23,24,25,31]
for i in p:
    print(i)
    if i % 3 == 0:
        print("p is divisible by 3")
    else:
        print("p is not divisible by 3")

1
p is not divisible by 3
2
p is not divisible by 3
45
p is divisible by 3
6
p is divisible by 3
8
p is not divisible by 3
56
p is not divisible by 3
87
p is divisible by 3
99
p is divisible by 3
9
p is divisible by 3
3
p is divisible by 3
4
p is not divisible by 3
86
p is not divisible by 3
98
p is not divisible by 3
66
p is divisible by 3
55
p is not divisible by 3
11
p is not divisible by 3
12
p is divisible by 3
13
p is not divisible by 3
14
p is not divisible by 3
21
p is divisible by 3
22
p is not divisible by 3
23
p is not divisible by 3
24
p is divisible by 3
25
p is not divisible by 3
31
p is not divisible by 3

In [ ]:
Mutable and immutable are two fundamental properties of data types that describe whether their values can be changed after they are created.

In [8]:
q = [1,2,3,4,5,"jayant", 56.99, True, 7+8j]

In [9]:
type(p)

list

In [10]:
q[6]

56.99

In [13]:
q[5] = 'praveen'

In [14]:
q

[1, 2, 3, 4, 5, 'praveen', 56.99, True, (7+8j)]

In [15]:
q[3] = c

NameError: name 'c' is not defined